JWT_SECRET=my-secret-key
PUBLIC_BACKEND_URL=http://172.27.38.53:8091
COLLABORA_EXTRA_PARAMS=--o:ssl.enable=false --o:net.content_security_policy=default-src 'self'; frame-ancestors http://localhost:* http://127.0.0.1:* http://172.27.38.53:* http://host.docker.internal:*; style-src 'self' 'unsafe-inline'; script-src 'self' 'unsafe-eval'; connect-src 'self' ws: wss:; img-src 'self' data: blob:; font-src 'self' data:; object-src 'none'; base-uri 'self';
COLLABORA_FRAME_ANCESTORS=http://172.27.38.53:* http://localhost:* http://127.0.0.1:* http://host.docker.internal:*
COLLABORA_SERVER_NAME=172.27.38.53:8093
COLLABORA_ALIASGROUP1=http://host.docker.internal:8091
COLLABORA_URL=http://172.27.38.53:8093
PUBLIC_COLLABORA_URL=http://172.27.38.53:8093
ONLYOFFICE_URL=http://172.27.38.53:8092/healthcheck
