COLLABORA_FRAME_ANCESTORS=http://172.27.38.53:* http://localhost:* http://127.0.0.1:* http://host.docker.internal:*
COLLABORA_SERVER_NAME=172.27.38.53:8093
COLLABORA_ALIASGROUP1=http://host.docker.internal:8091
COLLABORA_URL=http://172.27.38.53:8093
PUBLIC_COLLABORA_URL=http://172.27.38.53:8093
ONLYOFFICE_URL=http://172.27.38.53:8092/healthcheck
