COLLABORA_FRAME_ANCESTORS=http://localhost:* http://127.0.0.1:* http://172.27.38.53:* http://host.docker.internal:*
COLLABORA_URL=http://127.0.0.1:8093
PUBLIC_COLLABORA_URL=http://127.0.0.1:8093
ONLYOFFICE_URL=http://127.0.0.1:8092/healthcheck
