<?xml version="1.0" encoding="UTF-8"?>
<plugin id="participantes" name="Participantes" version="1.0">
    <description>Muestra un sidebar para capturar un texto y visualizarlo en un dialogo</description>
    <icon>data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHdpZHRoPSIxNiIgaGVpZ2h0PSIxNiIgdmlld0JveD0iMCAwIDE2IDE2IiBmaWxsPSJjdXJyZW50Q29sb3IiPjxwYXRoIGQ9Ik0yIDEzLjVoMTJ2MS41SDJ6Ii8+PHBhdGggZD0iTTUgNi41QTIuNSAyLjUgMCAxIDEgMCA2LjVhMi41IDIuNSAwIDAgMSA1IDB6bTQgMGEyLjUgMi41IDAgMSAxIDAtNSAyLjUgMi41IDAgMCAxIDAgNXptMy41IDcuNWguNVYxMmEyIDIgMCAwIDAtMi0yaC0zYTIgMiAwIDAgMC0yIDJ2LTFoLjVjLjY2IDAgMS4zMS4yNyAxLjc4Ljc0bC43Mi43MmMuNDcuNDcuNzYuOTYuNzYgMS41NHYxLjQ2aDMuNDV2LS41YzAtLjU4LS4yOS0xLjA3LS43Ni0xLjU0bC0uNzItLjcyYy0uNDctLjQ3LTEuMTItLjc0LTEuNzgtLjc0em0tNy41IDEuNWg1VjE0YzAtLjY4LS41My0xLjI1LTEuMi0xLjI5bC0uMDEtLjAxYTQuOTkgNC45OSAwIDAgMC0yLjU4IDAgMS4zIDAgMCAwLS4yMS4wM0MtMTEuOTcgMTIuNzUtMTIgMTMuMzIgMTIgMTR2LjV6Ii8+PC9zdmc+</icon>
    <methods>
        <method>onDocumentReady</method>
    </methods>
    <buttons>
        <button>Participantes</button>
    </buttons>
</plugin>
