<?xml version="1.0" encoding="UTF-8"?>
<plugin id="restringida-share" name="Compartir" version="1.0">
    <description>Compartir documento con otros usuarios</description>
    <icon>data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHdpZHRoPSIxNiIgaGVpZ2h0PSIxNiIgZmlsbD0iY3VycmVudENvbG9yIiB2aWV3Qm94PSIwIDAgMTYgMTYiPjxwYXRoIGQ9Ik0xMSA1LjVhMi41IDIuNSAwIDEgMSA1IDAgMi41IDIuNSAwIDAgMS01IDB6bS0uMTk4IDUuMTU3Yy0uMDUzLS4wODctLjExLS4xNy0uMTctLjI1bC00LjYzIDIuMzFhMi41IDIuNSAwIDEgMCAuODMgMS4xNjVsNC42My0yLjMxYTIuNSAyLjUgMCAwIDAgMy4zOS0uNjQ0bC0zLjk4LTEuOTljLS4xMS4yMjgtLjI1LjQ0LS40MS42MjVsMy45OCAxLjk5YTIuNSA0IDAgMCAwLS44My0xLjE2NWwtLjg0IDQuNjJhLjUuNSAwIDAgMS0uOTItLjE3bC0uODQtNC42MkEyLjUgMi41IDAgMCAwIDExIDUuNXoiLz48L3N2Zz4=</icon>
    <methods>
        <method>onDocumentReady</method>
    </methods>
    <buttons>
        <button>Compartir</button>
    </buttons>
</plugin>
